<?js

  var events  = this.members.events;
  var classes = this.members.classes;

  function makeLink(longname) {
    var parts = longname.match(/^([^.]+)(.([^:]+):(.*))?/);

    if (!parts) return '';

    var cname  = parts[1];
    var type   = parts[3];
    var member = parts[4];

    var href = cname + '.html';

    if (type || member) {
      href += '#';
      href += type ? type + ':' : '';
      href += member;
    }

    return href;
  }
?>

<?js console.log(this.classesByModuleName); ?>

<?js function renderListing(heading, members, icon) { ?>

  <div>
    <?js if (members) { ?>

      <h3 class="subsection-title">
        <?js= process.env.HEADER_ICONS ? '<i class="fa fa-' + icon + '"></i>' : '' ?>
        <?js= heading ?>
      </h3>

      <ul class="member-listing">
        <?js members.forEach(function(member, index) { ?>
          <li>
            <a href="<?js= makeLink(member.longname) ?>">
              <?js= member.id.replace('event:', '') ?>
            </a>
          </li>
        <?js }) ?>
      </ul>
    <?js } ?>
  </div>

<?js } ?>

<?js renderListing('Classes', this.members.classes, 'cubes') ?>

<?js renderListing('Events', this.members.events, 'bolt') ?>
